In [478]:
## Import relavant librarys

# Data librarys
import numpy as np
import pandas as pd

# Ploting library
import matplotlib.pyplot as plt
%matplotlib inline

In [479]:
def checkNAN(pandasdf):
    return pd.isnull(pandasdf).any(1).nonzero()[0]

In [499]:
## Readin CSV data using pandas 
train = pd.read_csv('./train.csv')
test = pd.read_csv('./test.csv')

m_data = train.shape[0]
m_test = test.shape[0]
train_valid_ratio = 0.8
print('Shape of the training data = '+str(train.shape))
print('Shape of the test data = '+str(test.shape))

## Append data together
print('type of the train data - ' + str(type(train)))
full = train.append(test, ignore_index=True)
print('Shape of the full data = ' + str(full.shape))

train = full

Shape of the training data = (891, 12)
Shape of the test data = (418, 11)
type of the train data - <class 'pandas.core.frame.DataFrame'>
Shape of the full data = (1309, 12)

In [500]:
train[m_data:]

,Age,Cabin,Embarked,Fare,Name,Parch,PassengerId,Pclass,Sex,SibSp,Survived,Ticket
891,34.5,NaN,Q,7.8292,"Kelly, Mr. James",0,892,3,male,0,NaN,330911
892,47.0,NaN,S,7.0000,"Wilkes, Mrs. James (Ellen Needs)",0,893,3,female,1,NaN,363272
893,62.0,NaN,Q,9.6875,"Myles, Mr. Thomas Francis",0,894,2,male,0,NaN,240276
894,27.0,NaN,S,8.6625,"Wirz, Mr. Albert",0,895,3,male,0,NaN,315154
895,22.0,NaN,S,12.2875,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,896,3,female,1,NaN,3101298
896,14.0,NaN,S,9.2250,"Svensson, Mr. Johan Cervin",0,897,3,male,0,NaN,7538
897,30.0,NaN,Q,7.6292,"Connolly, Miss. Kate",0,898,3,female,0,NaN,330972
898,26.0,NaN,S,29.0000,"Caldwell, Mr. Albert Francis",1,899,2,male,1,NaN,248738
899,18.0,NaN,C,7.2292,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,900,3,female,0,NaN,2657
900,21.0,NaN,S,24.1500,"Davies, Mr. John Samuel",0,901,3,male,2,NaN,A/4 48871
901,NaN,NaN,S,7.8958,"Ilieff, Mr. Ylio",0,902,3,male,0,NaN,349220
902,46.0,NaN,S,26.0000,"Jones, Mr. Charles Cresson",0,903,1,male,0,NaN,694
903,23.0,B45,S,82.2667,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0,904,1,female,1,NaN,21228
904,63.0,NaN,S,26.0000,"Howard, Mr. Benjamin",0,905,2,male,1,NaN,24065
905,47.0,E31,S,61.1750,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0,906,1,female,1,NaN,W.E.P. 5734
906,24.0,NaN,C,27.7208,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0,907,2,female,1,NaN,SC/PARIS 2167
907,35.0,NaN,Q,12.3500,"Keane, Mr. Daniel",0,908,2,male,0,NaN,233734
908,21.0,NaN,C,7.2250,"Assaf, Mr. Gerios",0,909,3,male,0,NaN,2692
909,27.0,NaN,S,7.9250,"Ilmakangas, Miss. Ida Livija",0,910,3,female,1,NaN,STON/O2. 3101270
910,45.0,NaN,C,7.2250,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0,911,3,female,0,NaN,2696
911,55.0,NaN,C,59.4000,"Rothschild, Mr. Martin",0,912,1,male,1,NaN,PC 17603
912,9.0,NaN,S,3.1708,"Olsen, Master. Artur Karl",1,913,3,male,0,NaN,C 17368
913,NaN,NaN,S,31.6833,"Flegenheim, Mrs. Alfred (Antoinette)",0,914,1,female,0,NaN,PC 17598
914,21.0,NaN,C,61.3792,"Williams, Mr. Richard Norris II",1,915,1,male,0,NaN,PC 17597
915,48.0,B57 B59 B63 B66,C,262.3750,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",3,916,1,female,1,NaN,PC 17608
916,50.0,NaN,S,14.5000,"Robins, Mr. Alexander A",0,917,3,male,1,NaN,A/5. 3337
917,22.0,B36,C,61.9792,"Ostby, Miss. Helene Ragnhild",1,918,1,female,0,NaN,113509
918,22.5,NaN,C,7.2250,"Daher, Mr. Shedid",0,919,3,male,0,NaN,2698
919,41.0,A21,S,30.5000,"Brady, Mr. John Bertram",0,920,1,male,0,NaN,113054
920,NaN,NaN,C,21.6792,"Samaan, Mr. Elias",0,921,3,male,2,NaN,2662
...,...,...,...,...,...,...,...,...,...,...,...,...
1279,21.0,NaN,Q,7.7500,"Canavan, Mr. Patrick",0,1280,3,male,0,NaN,364858
1280,6.0,NaN,S,21.0750,"Palsson, Master. Paul Folke",1,1281,3,male,3,NaN,349909
1281,23.0,B24,S,93.5000,"Payne, Mr. Vivian Ponsonby",0,1282,1,male,0,NaN,12749
1282,51.0,D28,S,39.4000,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",1,1283,1,female,0,NaN,PC 17592
1283,13.0,NaN,S,20.2500,"Abbott, Master. Eugene Joseph",2,1284,3,male,0,NaN,C.A. 2673
1284,47.0,NaN,S,10.5000,"Gilbert, Mr. William",0,1285,2,male,0,NaN,C.A. 30769
1285,29.0,NaN,S,22.0250,"Kink-Heilmann, Mr. Anton",1,1286,3,male,3,NaN,315153
1286,18.0,C31,S,60.0000,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,1287,1,female,1,NaN,13695
1287,24.0,NaN,Q,7.2500,"Colbert, Mr. Patrick",0,1288,3,male,0,NaN,371109
1288,48.0,B41,C,79.2000,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",1,1289,1,female,1,NaN,13567
1289,22.0,NaN,S,7.7750,"Larsson-Rondberg, Mr. Edvard A",0,1290,3,male,0,NaN,347065
1290,31.0,NaN,Q,7.7333,"Conlon, Mr. Thomas Henry",0,1291,3,male,0,NaN,21332
1291,30.0,C7,S,164.8667,"Bonnell, Miss. Caroline",0,1292,1,female,0,NaN,36928
1292,38.0,NaN,S,21.0000,"Gale, Mr. Harry",0,1293,2,male,1,NaN,28664
1293,22.0,NaN,C,59.4000,"Gibson, Miss. Dorothy Winifred",1,1294,1,female,0,NaN,112378
1294,17.0,NaN,S,47.1000,"Carrau, Mr. Jose Pedro",0,1295,1,male,0,NaN,113059
1295,43.0,D40,C,27.7208,"Frauenthal, Mr. Isaac Gerald",0,1296,1,male,1,NaN,17765
1296,20.0,D38,C,13.8625,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",0,1297,2,male,0,NaN,SC/PARIS 2166
1297,23.0,NaN,S,10.5000,"Ware, Mr. William Jeffery",0,1298,2,male,1,NaN,28666
1298,50.0,C80,C,211.5000,"Widener, Mr. George Dunton",1,1299,1,male,1,NaN,113503
1299,NaN,NaN,Q,7.7208,"Riordan, Miss. Johanna Hannah""""",0,1300,3,female,0,NaN,334915
1300,3.0,NaN,S,13.7750,"Peacock, Miss. Treasteall",1,1301,3,female,1,NaN,SOTON/O.Q. 3101315
1301,NaN,NaN,Q,7.7500,"Naughton, Miss. Hannah",0,1302,3,female,0,NaN,365237
1302,37.0,C78,Q,90.0000,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,1303,1,female,1,NaN,19928
1303,28.0,NaN,S,7.7750,"Henriksson, Miss. Jenny Lovisa",0,1304,3,female,0,NaN,347086
1304,NaN,NaN,S,8.0500,"Spector, Mr. Woolf",0,1305,3,male,0,NaN,A.5. 3236
1305,39.0,C105,C,108.9000,"Oliva y Ocana, Dona. Fermina",0,1306,1,female,0,NaN,PC 17758
1306,38.5,NaN,S,7.2500,"Saether, Mr. Simon Sivertsen",0,1307,3,male,0,NaN,SOTON/O.Q. 3101262
1307,NaN,NaN,S,8.0500,"Ware, Mr. Frederick",0,1308,3,male,0,NaN,359309
1308,NaN,NaN,C,22.3583,"Peter, Master. Michael J",1,1309,3,male,1,NaN,2668

In [501]:
train.describe()

,Age,Fare,Parch,PassengerId,Pclass,SibSp,Survived
count,1046.000000,1308.000000,1309.000000,1309.000000,1309.000000,1309.000000,891.000000
mean,29.881138,33.295479,0.385027,655.000000,2.294882,0.498854,0.383838
std,14.413493,51.758668,0.865560,378.020061,0.837836,1.041658,0.486592
min,0.170000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000
25%,21.000000,7.895800,0.000000,328.000000,2.000000,0.000000,0.000000
50%,28.000000,14.454200,0.000000,655.000000,3.000000,0.000000,0.000000
75%,39.000000,31.275000,0.000000,982.000000,3.000000,1.000000,1.000000
max,80.000000,512.329200,9.000000,1309.000000,3.000000,8.000000,1.000000

In [529]:
## Transform Pclass
pclass = pd.get_dummies(train.Pclass,prefix='pclass')

## Transform Sex into male:feamle = 1:0
sex = pd.Series(np.where(train.Sex=='male',0,1),name='sex')
#sex = pd.get_dummies(train.Sex, )

## Tranform embarked type CQS into indices
embarked = pd.get_dummies(train.Embarked,prefix='embarked')

## Tranform cabin type
def getCabin(cab):
    if pd.isnull(cab):
        return 'Unknown'
    return cab[0]

cabin = train.Cabin#.fillna('U')
cabin = cabin.map(getCabin)
cabin= pd.get_dummies(cabin, prefix='Cabin')

#print(cabin)
## Transform famly size
family = train.Parch+train.SibSp+1
family = pd.DataFrame(np.where(family>1,1,0),columns=['family'])

In [530]:
## Obtain of people
name = train.Name
# we extract the title from each name
titles = name.map(lambda name: name.split(',')[1].split('.')[0].strip())
titles = pd.get_dummies(titles, prefix = 'titles')

In [531]:
## Transform ticket 
# only use the number in the ticket..
#   separate ticket in two stations and obained order based on number of digits
tickets = train.Ticket
def getTicketStation(ticket):
    tmp = ticket.split(' ')
    if len(tmp)>1:
        return tmp[0][0]
    else:
        return 'U_station'
def getTicketNumber(ticket):
    tmp = ticket.split(' ')
    if len(tmp)>1:
        return len(tmp[1])
    else:
        return len(tmp[0])
    
stations = pd.get_dummies(tickets.map(getTicketStation),prefix='station')
#np.where(tickets=='mp',1,0)
ticketNumbers = tickets.map(getTicketNumber)
ticketNumbers = pd.get_dummies(ticketNumbers, prefix='ticket')
#ticketnumbers
#stations

In [532]:
## Selecting a model from SKlearn
##
##
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()
# Modelling Helpers
from sklearn.preprocessing import Imputer , Normalizer , scale
from sklearn.cross_validation import train_test_split , StratifiedKFold
from sklearn.feature_selection import RFECV

In [533]:
## Check for NAN
print(checkNAN(pclass), sex.isnull().all(),checkNAN(embarked),checkNAN(cabin), checkNAN(family), checkNAN(titles), \
      checkNAN(stations), checkNAN(ticketNumbers))

(array([], dtype=int64), False, array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64), array([], dtype=int64))

In [534]:
full_x = pd.concat([pclass, sex, embarked, cabin, family, titles, stations, ticketNumbers], axis=1)
m_train = int(m_data*train_valid_ratio)

train_x , valid_x , train_y , valid_y = train_test_split( full_x[0:m_data] , train.Survived[0:m_data] , \
                                                            train_size = train_valid_ratio )
#train_x = full_x[0:m_train]
#train_y = train.Survived[0:m_train]

#valid_x = full_x[m_train:m_data]
#valid_y = train.Survived[m_train:m_data]

#test_x = pd.DataFrame(data = full_x[m_data:m_data+m_test],index=np.arange(m_test))

print(train_x.shape, valid_x.shape, test_x.shape, train.shape)

((712, 50), (179, 50), (418, 50), (1309, 12))

In [535]:
# Fit the training set
model.fit(train_x, train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [536]:
### Yeah! my first training!
print (model.score( train_x , train_y ) , model.score( valid_x , valid_y ))

(0.824438202247191, 0.76536312849162014)

In [549]:
print('CheckNAN = ', checkNAN(test_x))
test_x = full_x.iloc[m_data:]
#test_x.iloc[0]
#train_x.iloc[0]
test_y = model.predict(test_x)

('CheckNAN = ', array([], dtype=int64))

In [553]:
test_passengerid = full[m_data:].PassengerId	
testOutput = pd.DataFrame({'PassengerID': test_passengerid, 'Survived':test_y})
testOutput.shape
testOutput.head()
testOutput.to_csv(name='ftl_titanic_submission.csv',index=False)

TypeError: to_csv() got an unexpected keyword argument 'name'